@use "../abstracts" as *;

.about-us {
  @include flex-center();

  .about-us__container {
    @include flex-between(row);
    gap: 2%;
    width: 100%;
    height: 80%;
    .about-us__left {
        width: 45%;
        min-width: 400px;
        height: 100%;
        gap: 15px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    
        .about-us__img-top {
          grid-area: 1/1/2/2;
          width: 80%;
          height: 50%;
          display: flex;
          justify-self: flex-end;
          align-self: flex-end;
    
          .about-us__img {
            @include img;
          }
        }
    
        .about-us__img-bottom {
    
            grid-area: 2/1/2/2;
            width: 100%;
            max-width: 350px;
            height: 60%;
            display: flex;
            justify-self: flex-end;
            align-self: flex-start;
            
    
            .about-us__img {
            @include img;
          }
        }
    
        .about-us__img-tall {
            grid-area: 1/2/3/2;
            width: 100%;
            max-width: 350px;
            min-width: 150px;
            height: 90%;
            margin-left: 5px;
            display: flex;
            justify-self: center;
            align-self: center;
            padding-top: 10px;
    
    
            .about-us__img {
                @include img;
            
              }
        }
      }

      .about-us__right {
        width: 55%;
        @include flex(column, flex-start);
        align-items: flex-start;
        height: 90%;
        padding-left: 3%;

        ::-moz-selection { /* Code for Firefox */
          color: white;
          background: $green;
        }
        
        ::selection {
          color: white;
          background: $green;
        }


        p{
            width: 85%;
            text-align: justify;
        }
      }
    
     
  }
  height: 80%;

 
}
