@use '..//abstracts' as *;

.services {
@include flex(column, center);
align-items: flex-start;


.services__container {
    width: 100%;
    height: 40px;
    background: $t2;

    .services__container-service {
        padding: 12px;

        .services-img {
            width: 70px;
            height: 70px;
        }

       

        h3 {

        }
    }


}


}