@use '..//abstracts' as *;

.services {
@include flex(column, flex-start );
align-items: flex-start;

gap: 5%;


.services__container {
    width: 100%;
    max-width: 1300px;
    align-self: center;
   gap: 1%;
   flex-wrap: wrap;
    
    @include flex-center;

    .services__container-service {
        height: 155px;
        padding: 0 20px;
        border-radius: 12px;
        width: 370px;
        margin-top: 2%;
       
        overflow-y: hidden;
        
        background: $grey-2;
        @include flex-between(row);

        .service-img {
            width: 100px;
            height: 100px;
        }

       

        .service-info {
            width: 50%;
            color: $black-transparent;
            margin-top: 55%;
           
            font-weight: 500;
            font-size: $S;

            h3 {
                margin-bottom: 12px;
            }

            span {
               visibility: hidden;
            }

               
        

        }
    }


}


}