@use "../abstracts" as *;

header {
  width: 100%;
  height: 90vh;
  padding: 2vh;
  @include flex(column, flex);

  @include breakpoint(Tablet-L) {
    height: 40vh;
  }

  @include breakpoint-h(Tablet-S) {
    height: 87vh;
  }

 

  .header__top {
    width: 100%;
    @include flex-between(row);

    img {
      width: 200px;
    }

    .header__rs {
      @include flex-around(row);
      gap: 1rem;

      svg {
        width: 2.2rem;
        height: 2.2rem;
        transition: all 0.1s ease-in-out;
        fill: $green;

        &:hover {
          transform: scale(1.07);
        }
      }
    }
  }

  .header__center {
    width: 80%;
    height: auto;
    justify-self: center;
    align-self: center;

   

    img {
      width: 100%;
      object-fit: contain;

      @include breakpoint-h(Tablet-S){
        height: 400px;
      }
    }
  }
}
