@use "../abstracts" as *;

.slider {
  width: 100%;
  max-width: 1920px;
  height: 90vh;
  max-height: 900px;
  overflow-x: hidden;
  overflow-y: hidden;
  background: $t2;

  @include breakpoint-h(Tablet-S) {
    height: 87vh;
  }

  @include breakpoint(Laptop-S){
    background: $green;
    height: 100%;
    max-height: none;
    overflow-y: visible;
  }

  .slides {
    width: 500%;
    height: 100%;
    display: flex;

 
    .slide {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      transition: 0.5s ease-in-out;

  
      .slide-container {
        width: 100%;
        height: 100%;

      }
    }

    .slide-grey {
      background: $grey;
    }
  }
}
