@use '../abstracts' as *;

nav{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cont-nav {
      width: 650px;
      @include flex(column, center);
    }

    .nav-links {
      width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background: none;
            border: none;
            color: $green;
            font-size: 1.3em;
            font-weight: 500;
            
            font-family: verdana;

            a {
              color: $green;
            }

            &:hover {
                cursor: pointer;  
            }
        }
      }
  }
  
  .barContainer {
    width: 100.5%;
    display: flex;
    
    .bottomBar {
        width: 120px;
        height: 2px;
        background: rgb(154, 105, 23);
        background: linear-gradient(
          90deg,
          rgba(154, 105, 23, 1) 0%,
          rgba(242, 219, 126, 1) 34%,
          rgba(195, 149, 59, 1) 74%,
          rgba(242, 219, 126, 1) 100%,
          rgba(195, 149, 59, 1) 100%
        );
        transition: all 0.5s ease-in-out;
      }
  }
  
  