@use "../abstracts" as *;

nav {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cont-nav {
    width: 650px;
    @include flex(column, center);
  }

  .nav-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background: none;
      border: none;
      color: $green;
      font-size: 1.3em;
      font-weight: 500;
      font-family: verdana;
      transition: 0.1s ease-in-out;

   

      &:hover {
        cursor: pointer;
        background: rgb(154, 105, 23);
        background: linear-gradient(
          90deg,
          rgba(154, 105, 23, 1) 0%,
          rgba(242, 219, 126, 1) 34%,
          rgba(195, 149, 59, 1) 74%,
          rgba(242, 219, 126, 1) 100%,
          rgba(195, 149, 59, 1) 100%
        );

        transform: scale(1.02) translateY(-10%);
          
        /* Set the background size and repeat properties. */
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
      }

      &:focus {
        background: rgb(154, 105, 23);
        background: linear-gradient(
          90deg,
          rgba(154, 105, 23, 1) 0%,
          rgba(242, 219, 126, 1) 34%,
          rgba(195, 149, 59, 1) 74%,
          rgba(242, 219, 126, 1) 100%,
          rgba(195, 149, 59, 1) 100%
        );
        transform: scale(1.05);
        /* Set the background size and repeat properties. */
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
      }
    }
  }

  @include breakpoint(Laptop-S) {
    height: 80px;

    .cont-nav {
      width: 300px;
      @include flex(column, center);
    }

    .nav-links {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background: none;
        border: none;
        color: white;
        font-size: 1.3em;
        font-weight: 500;
        font-family: verdana;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.barContainer {
  width: 100.5%;
  display: flex;

  @include breakpoint(Phone-X) {
    transform: translateX(12%);
  }

  .bottomBar {
    width: 120px;
    height: 2px;

    // Bar hot fix
    @include breakpoint(Phone-X) {
      width: 80px;
    }

    background: rgb(154, 105, 23);
    background: linear-gradient(
      90deg,
      rgba(154, 105, 23, 1) 0%,
      rgba(242, 219, 126, 1) 34%,
      rgba(195, 149, 59, 1) 74%,
      rgba(242, 219, 126, 1) 100%,
      rgba(195, 149, 59, 1) 100%
    );
    transition: all 0.5s ease-in-out;
  }

  @include breakpoint(Laptop-S) {
    width: 300.5px;
  }
}
