@use "../abstracts" as *;

.tittle-desktop {
  font-size: $XXL;
  color: $green;
  text-align: left;
  line-height: 0.9;
  // Breakpoint //
  @include breakpoint(Laptop-S) {
    text-align: center;
  }

  span {
    font-size: $L;
  }

  @media screen and(max-width: 1400px) {
    font-size: 20px;
  }

  @include breakpoint(laptop-L) {
    font-size: $XL;

    span {
      font-size: $M;
    }
  }



  .tittle-line {
    height: 2px;
    width: 105%;
    background: rgb(154, 105, 23);
    background: linear-gradient(
      90deg,
      rgba(154, 105, 23, 1) 0%,
      rgba(242, 219, 126, 1) 34%,
      rgba(195, 149, 59, 1) 74%,
      rgba(242, 219, 126, 1) 100%,
      rgba(195, 149, 59, 1) 100%
    );
  }

    //Mobile  Breakpoint //
    @include breakpoint(Laptop-S) {
        text-align: center;
        color: white;

        .tittle-line {
            transform: translateX(-2%);
        }
      }


}
