@use '../abstracts' as *;

h1 {
    font-size: $XXL;

}

h2 {

}

h3 {
font-size: $S;
margin: 0;
padding: 0;
line-height: 0;
}

h4 {
font-weight: 500;
font-size: $S;
}

p {
    font-size: $M;
    line-height: 1;
    @include breakpoint(laptop-L){
        font-size: $S;
    }
}


button {

}

