@use '../abstracts' as *;

h1 {
    font-size: $XXL;

}

h2 {

}

h3 {

}

h4 {

}

p {
    font-size: $M;

    @include breakpoint(laptop-L){
        font-size: $S;
    }
}

button {

}

