//Test Colors
$t1: rgba(128, 128, 128, 0.637);
$t2: rgba(255, 0, 0, 0.534);
$t3: rgba(94, 190, 94, 0.678);
$t4: rgba(158, 65, 158, 0.603);

//Luis Matzo
$green: #1d4529;
$gold-0: #9a6917;
$gold-1: #c3953b;
$gold-2: #c3953b;
$gold-3: #f2db7e;
$grey: rgb(247, 247, 247);
$grey-2: rgb(240, 240, 240);
$black-transparent:  rgba(0, 0, 0, 0.705);
$white-transparent:  rgba(255, 255, 255, 0.596);

//Gold Gradiant
.gradiant {
  background: rgb(154, 105, 23);
  background: linear-gradient(
    90deg,
    rgba(154, 105, 23, 1) 0%,
    rgba(242, 219, 126, 1) 34%,
    rgba(195, 149, 59, 1) 74%,
    rgba(242, 219, 126, 1) 100%,
    rgba(195, 149, 59, 1) 100%
  );
}
