
//Flex Box //
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin --flex($direction, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $align;
  align-items: center;
}

@mixin flex-between($direction) {
  display: flex;
  justify-content: space-between;
  flex-direction: $direction;
  align-items: center;
}

@mixin flex-around($direction) {
  display: flex;
  justify-content: space-around;
  flex-direction: $direction;
  align-items: center;
}

