@use "../../abstracts/" as *;

.m-contact-us {
  width: 100%;
  padding-top: 25px;
  background: $green;
  @include flex(column, flex-start);

  .tittle-desktop {
    span {
      font-size: $M;     
    }
    
    line-height: 1;
    font-size: $L;
  }

  h3 {
    line-height: 1;
    width: 80%;
    max-width: 400px;
    font-weight: 500;
    color: $white-transparent;
    margin-top: 20px;
    text-align: center;
  }

  // Form //
  .m-contact-us__form {
    width: 85%;
    max-width: 400px;
    height: 450px;
    padding: 1.5%;

    .iframe-form {
      width: 100%;
      height: 100%;
      border: none;
      outline:  none;
    }

  
  }

  // All links container //
  .m-contact-us__cont-links {
    @include flex(column, center);
    width: 80%;
    max-width: 400px;
    gap: 15px;
    color: $white-transparent;
    font-size: $XS;
    align-items: flex-start;
    .contact-us__infoLink {
      @include flex(row, center);
      font-size: $S;
      margin-top: 0.5em;
      gap: 0.5em;

      @include breakpoint(laptop-L) {
        font-size: $XS;
      }
      .contact-us__infoLink-icon {
        width: 40px;
        height: 40px;
        @include flex-center;
        background: rgb(154, 105, 23);
        background: linear-gradient(
          90deg,
          rgba(154, 105, 23, 1) 0%,
          rgba(242, 219, 126, 1) 34%,
          rgba(195, 149, 59, 1) 74%,
          rgba(242, 219, 126, 1) 100%,
          rgba(195, 149, 59, 1) 100%
        );
        padding: 2px;
      }

      .infoLink-icon__container {
        background: white;
        width: 100%;
        height: 100%;

        @include flex-center;

        svg {
          fill: $green;
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  //Map
  .m-contact-us__map {
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
    height: 300px;
    border-radius: 12px 12px 0 0;

    iframe {
      width: 100%;
    }
  }
}
